<div class="container">
  <div class="col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="title">
      <h1>コメント編集</h1>
    </div>
    <br />

    <%= render partial: 'comments/form', locals: { comment: @comment, review: @review } %>
    </div>
  </div>
</div>
