<div class="tag_form">
  <p><strong>タグ</strong></p>
  <%= f.nested_fields_for :tags do |ff| %>
    <%= ff.text_field :content, class: "form form-control" %>
  <% end %>
  <%= f.add_nested_fields_link :tags, '+', class: 'btn btn-default' %>
</div>
