// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments_content {
  margin-top: 15px;
  margin-left: 15px;
}

.right {
  text-align: right;
  margin-right: 15px;
}

.child li {
  padding-top: 7px;
  border-bottom: 1px dotted #ccc;
  list-style-type: none;
}

.avatar img {
  max-width: 40px;
  max-height: 40px;
  margin-right: 15px;
}
