// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  margin-top: 20px;
  margin-bottom: 50px;
}

.review {
  background-color: white;
  border: solid;
  border-color: #ffe0eb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.review .content {
  color: black;
}

.review .review_title {
  font-size: 130%;
  color: #ff1493;
}

.review .object {
  margin-left: 10px;
  font-size: 120%;
}

#object {
  font-size: 130%;
}

.review .content > a {
  color: black;
}

.right {
  text-align: right;
}

.owners_buttons {
  text-align: right;
  margin-top: 20px;
}
