// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  margin-top: 20px;
  margin-bottom: 50px;
}

.review {
  background-color: white;
  border: solid;
  border-color: #ffe0eb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 35px;
  padding: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.review .content {
  color: black;
}

.review .review_title {
  font-size: 130%;
  color: #ff1493;
}

.review .object {
  margin-left: 10px;
  font-size: 120%;
}

#object {
  font-size: 130%;
}

.review .content > a {
  color: black;
  font-size: 120%;
}

.review .picture > img {
  margin-bottom: 20px;
}

.owner_buttons {
  text-align: right;
  margin-top: 20px;
}

.owners_buttons > a {
  margin-right: 7px;
}

.reviews_owner > img {
  max-width: 40px;
  max-height: 40px;
  margin-right: 15px;
}

.reviews_owner > a {
  color: black;
}


.reviews_owner > a > img {
  max-width: 40px;
  max-height: 40px;
  margin-right: 15px;
}

#input-picture {
  max-width: 300px;
  max-height: 300px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nice {
  text-align: right;
}

.nice .btn-nice {
  background-color: white;
  border-color: #ffa50d;
  border-width: 3px;
  color: #ffa50d;
  font-size: 120%
}
