// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  margin-top: 20px;
  margin-bottom: 50px;
}

.reviews .review {
  background-color: white;
  border: solid;
  border-color: #ffe0eb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
}
