// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user > a {
  color: black;
}

.user > a > img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 15px;
}

.user .follow_button {
  text-align: right;
}

.user {
  background-color: white;
  border: solid;
  border-color: #ffe0eb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 25px;
  padding: 20px;
}

.user_description {
  background-color: white;
  border: solid;
  border-color: #e9559f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 20px;
}

.user_description > img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 15px;
}

.user_description > h1 {
  margin-left: 25px;
  display: inline-block;
}

.review {
  background-color: white;
  border: solid;
  border-color: #ffe0eb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 35px;
  padding: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.review .content {
  color: black;
}

.review .review_title {
  font-size: 130%;
  color: #ff1493;
}

.review .object {
  margin-left: 10px;
  font-size: 120%;
}

#object {
  font-size: 130%;
}

.review .content > a {
  color: black;
  font-size: 120%;
}

.review .picture > img {
  margin-bottom: 20px;
}
