<div class="container">
  <div class="col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="title">
      <h1>タイムライン</h1>
    </div>

    <%= render "layouts/flash" %>

    <div class="reviews">
      <% @reviews.each do |review| %>
        <% if current_user.following?(eview.user) %>
          <div class="review">
            <%= render "review", review: review %>
          </div>
          <br />
        <% end %>
      <% end %>
    </div>
    <%= paginate @reviews %>
  </div>
</div>
