<div class="container">
  <div class="col col-md-10 col-md-offset-1">
    <div class="title">
      <h1>ランキング</h1>
    </div>

    <% @reviews.each do |review| %>
      <div class="review">
        <%= render "review", review: review %>
      </div>
      <br />
    <% end %>
    <%= paginate @reviews %>
  </div>
</div>
